@using Microsoft.AspNet.Identity
@if (Session.Count > 0)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
        @Html.ActionLink(HttpContext.Current.Session["Email"].ToString(),"Index","Home")
        </li>
        <!----<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>-->
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registreren", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Inloggen", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
